################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MessageManagement.Interfaces/bin/Debug/netcoreapp3.0
/MessageManagement.Interfaces/obj
/.vs
